{{ define "main" }}
<div class="wrap container-xxl" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-12">
        <article>
          <h1 class="text-center">{{ i18n "404_title" }}</h1>
          <p class="text-center">{{ i18n "404_text" }}</p>
          <h1>404</h1>
          <div>お探しのページが見つかりませんでした</div>
          <a href="/" class="btn btn-warning btn-lg d-block m-5">戻る</a>
        </article>
      </div>
    </div>
  </div>
</div>

{{ end }}
