<!-- CTA -->
<aside id="call_to_action"
       class="p-3 my-5"
       aria-label="Call to Action"
       role="complementary"
       style="background-color: #634F42; border-top: 4px solid #e67e22; border-radius: 8px;">
  <div class="my-5 mx-auto" style="max-width: 900px;">
    <div class="p-3">
      <div class="row align-items-center">
        <div class="col-sm-5 text-center mb-3 mb-sm-0">
          <img loading="lazy"
               src="/images/icon.png"
               style="width: 200px; height: 200px;"
               width="200"
               height="200"
               alt="logo" />
        </div>
        <div class="col-sm-16 col-md-10">
          <h3 style="color: #ffffff;">手軽にトライアル</h3>
          <ul style="color: #ffffff; font-weight: 500;">
            <li>今すぐお試しいただけます</li>
            <li>勝手に課金されることはありません</li>
            <li>まずは使ってみてください</li>
          </ul>
        </div>
      </div>
      <!--
      <div class="my-5 text-center">
        <a href="https://taskmanh.web.app/"
           class="btn btn-lg my-3"
           role="button"
           target="_blank"
           style="background-color: #e67e22; color: white; padding: 0.75rem 2rem; border-radius: 8px; font-weight: bold; border: none;">
          始める
        </a>
      </div>
    -->
    </div>
      <div  style="text-align: right">
        <a href="https://itunes.apple.com/jp/app/%E3%82%B5%E3%83%AD%E3%83%B3%E3%82%AB%E3%83%AB%E3%83%86/id1463901419"><img loading="lazy" src="/images/apple.svg" width="109" height="40" style="width: 150px; height: auto" alt="ios App Store" /></a>
        <a href="https://play.google.com/store/apps/details?id=jp.sndbox.salonkarteapp"><img loading="lazy" src="/images/google-play-badge.png" width="646" height="192" style="width: 180px; height: auto" alt="Android Google Play Store" /></a>
        <a href="https://karte.hotaka-g.com/"><img loading="lazy" src="/images/bnrSaloncarte.png" width="646" height="192" style="width: 180px; height: auto" alt="Android Google Play Store" /></a>
      </div>
    </div>
</aside>
